[global]
bauds = 115200
log_level = info

[wsn_xbee]
class = digimesh
log_level = debug

[wsn_raw_archive]

[wsn_raw_cook]
key = 0123456789012345

[wsn_data_django]
url = https://wsn.latice.eu/api/create/
token = 
